<div class="container-fluid">
  <div class="row" id="pdfTable" #pdfTable>
    <div  class="col-md-12" >
      <h2>Angular HTML To PDF Generator Example - Hanmant Jankarr</h2>
      <table class="table"  style="width: 100%;">
        <thead>
          <tr>
            <th scope="col" style="width:5%;background-color: black;color: white;">#</th>
            <th scope="col" style="width:10%;background-color: black;color: white;">Item number</th>
            <th scope="col" style="width:35%;background-color: black;color: white;">Item Name / Technical Name</th>
            <th scope="col" style="width:10%;background-color: black;color: white;">Price</th>
            <th scope="col" style="width:10%;background-color: black;color: white;">Qty</th>
            <th scope="col" style="width:10%;background-color: black;color: white;">Total</th>
            <th scope="col" style="width:10%;background-color: black;color: white;">Total</th>
            <th scope="col" style="width:10%;background-color: black;color: white;">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>STDESS0635AA</td>
            <td>RDU4160D 16CH UHF (Brus)</td>
            <td>12000</td>
            <td>1000</td>
            <td>-106000.00</td>
            <td>-106000.00</td>
            <td>-106000.00</td>
          </tr>
          <tr>
            <td>1</td>
            <td>STDESS0635AA</td>
            <td>RDU4160D 16CH UHF (Brus)</td>
            <td>12000</td>
            <td>1000</td>
            <td>-106000.00</td>
            <td>-106000.00</td>
            <td>-106000.00</td>
          </tr>
          <tr>
            <td>1</td>
            <td>STDESS0635AA</td>
            <td>RDU4160D 16CH UHF (Brus)</td>
            <td>12000</td>
            <td>1000</td>
            <td>-106000.00</td>
            <td>-106000.00</td>
            <td>-106000.00</td>
          </tr>
          <tr>
            <td>1</td>
            <td>STDESS0635AA</td>
            <td>RDU4160D 16CH UHF (Brus)</td>
            <td>12000</td>
            <td>1000</td>
            <td>-106000.00</td>
            <td>-106000.00</td>
            <td>-106000.00</td>
          </tr>
          <tr>
            <td>1</td>
            <td>STDESS0635AA</td>
            <td>RDU4160D 16CH UHF (Brus)</td>
            <td>12000</td>
            <td>1000</td>
            <td>-106000.00</td>
            <td>-106000.00</td>
            <td>-106000.00</td>
          </tr>
          <tr>
            <td>1</td>
            <td>STDESS0635AA</td>
            <td>RDU4160D 16CH UHF (Brus)</td>
            <td>12000</td>
            <td>1000</td>
            <td>-106000.00</td>
            <td>-106000.00</td>
            <td>-106000.00</td>
          </tr>
          <tr>
            <td>1</td>
            <td>STDESS0635AA</td>
            <td>RDU4160D 16CH UHF (Brus)</td>
            <td>12000</td>
            <td>1000</td>
            <td>-106000.00</td>
            <td>-106000.00</td>
            <td>-106000.00</td>
          </tr>
          <tr>
            <td>1</td>
            <td>STDESS0635AA</td>
            <td>RDU4160D 16CH UHF (Brus)</td>
            <td>12000</td>
            <td>1000</td>
            <td>-106000.00</td>
            <td>-106000.00</td>
            <td>-106000.00</td>
          </tr>
          <tr>
            <td>1</td>
            <td>STDESS0635AA</td>
            <td>RDU4160D 16CH UHF (Brus)</td>
            <td>12000</td>
            <td>1000</td>
            <td>-106000.00</td>
            <td>-106000.00</td>
            <td>-106000.00</td>
          </tr>
          <tr>
            <td>1</td>
            <td>STDESS0635AA</td>
            <td>RDU4160D 16CH UHF (Brus)</td>
            <td>12000</td>
            <td>1000</td>
            <td>-106000.00</td>
            <td>-106000.00</td>
            <td>-106000.00</td>
          </tr>
          <tr>
            <td>1</td>
            <td>STDESS0635AA</td>
            <td>RDU4160D 16CH UHF (Brus)</td>
            <td>12000</td>
            <td>1000</td>
            <td>-106000.00</td>
            <td>-106000.00</td>
            <td>-106000.00</td>
          </tr>
          <tr>
            <td>1</td>
            <td>STDESS0635AA</td>
            <td>RDU4160D 16CH UHF (Brus)</td>
            <td>12000</td>
            <td>1000</td>
            <td>-106000.00</td>
            <td>-106000.00</td>
            <td>-106000.00</td>
          </tr>
          <tr>
            <td>1</td>
            <td>STDESS0635AA</td>
            <td>RDU4160D 16CH UHF (Brus)</td>
            <td>12000</td>
            <td>1000</td>
            <td>-106000.00</td>
            <td>-106000.00</td>
            <td>-106000.00</td>
          </tr>
          <tr>
            <td>1</td>
            <td>STDESS0635AA</td>
            <td>RDU4160D 16CH UHF (Brus)</td>
            <td>12000</td>
            <td>1000</td>
            <td>-106000.00</td>
            <td>-106000.00</td>
            <td>-106000.00</td>
          </tr>
          <tr>
            <td>1</td>
            <td>STDESS0635AA</td>
            <td>RDU4160D 16CH UHF (Brus)</td>
            <td>12000</td>
            <td>1000</td>
            <td>-106000.00</td>
            <td>-106000.00</td>
            <td>-106000.00</td>
          </tr>
          <tr>
            <td>1</td>
            <td>STDESS0635AA</td>
            <td>RDU4160D 16CH UHF (Brus)</td>
            <td>12000</td>
            <td>1000</td>
            <td>-106000.00</td>
            <td>-106000.00</td>
            <td>-106000.00</td>
          </tr>
          <tr>
            <td>1</td>
            <td>STDESS0635AA</td>
            <td>RDU4160D 16CH UHF (Brus)</td>
            <td>12000</td>
            <td>1000</td>
            <td>-106000.00</td>
            <td>-106000.00</td>
            <td>-106000.00</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <button class="btn btn-primary" (click)="downloadAsPDF();">Export To PDF</button>
  </div>
</div>